body {
    background-color: rgb(250, 179, 221);
    color: white;
}

table {
    border-collapse: collapse;
}
td {
    text-align: center;
    width: 100px;
    height: 50px;
}
caption {
    font-size: 30px;
    color: white;
}
tr:nth-child(2) td:nth-child(4) {
    color: blue;
}
tr:nth-child(3) td:nth-child(2) {
    color: blue;
}
tr:nth-child(4) td:nth-child(4) {
    color: blue;
}
tr:nth-child(5) td:nth-child(2) {
    color: blue;
}
tr:nth-child(5) td:nth-child(3) {
    color: blue;
}
tr:nth-child(6) td:nth-child(4) {
    color: blue;
}
tr:nth-child(7) td:nth-child(2) {
    color: blue;
}   